venv/
__pycache__/
.DS_Store
*.csv
*.pkl

# Large model files
models/naija_finbert/
models/naija_finbert_results/
models/*.pkl
models/*.safetensors
models/*.bin
models/*.pt

# Large data files
data/live/
data/processed/
data/raw/

# Python cache
__pycache__/
*.pyc